body {
    background-color: #f5f5f5;
}

.wrapper {
    width: 800px;
    height: 400px;
    background-color: #f4a622;
    margin: 100px auto;
    text-align: center;
    padding-top: 50px;
    box-shadow: 0px 4px 8px rgba(43, 41, 41, 0.2);
}

h2 {
    font-family: Arial, sans-serif;
    color: white;
    margin-bottom: 20px;
}

select {
    width: 400px;
    padding: 8px;
    font-size: 16px;
    border: 2px solid rgb(21, 8, 95);
    color: azure;
    border-radius: 4px;
    background-color: rgb(21, 8, 95);
    cursor: pointer;
}

