.overLay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(61, 78, 63);
    display: flex;
    justify-content: center;
    align-items: center;
    z-Index: 999;
}
.modal{
    background-color: rgb(14, 29, 16);
    color: white;
    padding: 3rem 1rem;
    border-radius: 0.8rem;
    width: 30rem;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
.modal input{
    border-radius: 0.5rem;
    border: none;
    font-size: 1rem;
}
h3{
    text-align: center;
    font-size: 1.3rem;
    margin-bottom: 2rem;
}
.modal_btns{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.modal_btns button{
    padding: 0.6rem 2rem;
    border-radius: 0.5rem;
    border: none;
    background-color: greenyellow;
    cursor: pointer;
}
.modal_btns button:hover{
    background-color: rgb(122, 187, 24);
}